<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="/home">
                <i class="material-icons">
                    home
                </i>
                Início
            </a>
            <a mat-list-item routerLink="/products">
                <i class="material-icons">
                    storefront
                </i>
                Produtos
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <!-- ... conteúdo principal -->
        <button (click)="goToLogin()">Login</button> <!-- Botão para navegar para a rota de login -->
        <ng-container *ngIf="showLogin"> <!-- Renderiza o componente de login condicionalmente -->
            <router-outlet name="loginOutlet"></router-outlet> <!-- outlet secundário para o componente de login -->
        </ng-container>
    </mat-sidenav-content>
</mat-sidenav-container>
